<a href="https://colab.research.google.com/github/ANUPAMA-B/PYTHON/blob/main/20221BCA0296_functools.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from functools import reduce
list1 = [7, 3, 6, 10, 2, 8]
sum_of_list1 = reduce(lambda a, b:a + b, list1)

list2 = ["abc", "xyz", "def"]
max_of_list2 = reduce(lambda a, b:a if a>b else b, list2)

print('Sum of list1 :', sum_of_list1)
print('Maximum of list2 :', max_of_list2)

Sum of list1 : 36
Maximum of list2 : xyz

In [ ]:
from functools import total_ordering

@total_ordering
class A:
	def __init__(self, value):
		self.value = value
	def __eq__(self, other):
		return self.value == other.value
	def __lt__(self, other):
		return self.value > other.value
print('8 > 10 :', A(8)>A(10))
print('30 < 50 :', A(30)<A(50))
print('2 <= 7 :', A(2)<= A(7))
print('16 >= 10 :', A(16)>= A(10))
print('12 == 12 :', A(12)== A(12))

8 > 10 : True
30 < 50 : False
2 <= 7 : False
16 >= 10 : False
12 == 12 : True