<a href="https://colab.research.google.com/github/ANUPAMA-B/PYTHON/blob/main/20221BCA0296iteratTools.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from itertools import count
for number in count(start=1, step=2):
	if number > 10:
		break
	print(number)

In [ ]:
import itertools
count = 0
for i in itertools.cycle('AB'):
	if count > 7:
		break
	else:
		print(i, end=" ")
		count += 1

A B A B A B A B

In [ ]:
import itertools
l = ['BCA', 'CSE', 'ECE']
iterators = itertools.cycle(l)
for i in range(6):
	print(next(iterators), end=" ")

BCA CSE ECE BCA CSE ECE

In [ ]:
import itertools
print("Printing the numbers repeatedly : ")
print(list(itertools.repeat(25, 4)))

Printing the numbers repeatedly :
[25, 25, 25, 25]

In [ ]:
from itertools import product
print("The cartesian product using repeat:")
print(list(product([1, 2], repeat=2)))
print()

print("The cartesian product of the containers:")
print(list(product(['BCA', 'MBA', 'BBA'], '2')))
print()

print("The cartesian product of the containers:")
print(list(product('AB', [3, 4])))

The cartesian product using repeat:
[(1, 1), (1, 2), (2, 1), (2, 2)]

The cartesian product of the containers:
[('BCA', '2'), ('MBA', '2'), ('BBA', '2')]

The cartesian product of the containers:
[('A', 3), ('A', 4), ('B', 3), ('B', 4)]

In [ ]:
from itertools import combinations

print ("All the combination of list in sorted order(without replacement) is:")
print(list(combinations(['A', 2], 2)))
print()

print ("All the combination of string in sorted order(without replacement) is:")
print(list(combinations('AB', 2)))
print()

print ("All the combination of list in sorted order(without replacement) is:")
print(list(combinations(range(2), 1)))

All the combination of list in sorted order(without replacement) is:
[('A', 2)]

All the combination of string in sorted order(without replacement) is:
[('A', 'B')]

All the combination of list in sorted order(without replacement) is:
[(0,), (1,)]

In [ ]:

import itertools
import operator
li1 = [9, 12, 15, 17]
print("The sum after each iteration is : ", end="")
print(list(itertools.accumulate(li1)))
print("The product after each iteration is : ", end="")
print(list(itertools.accumulate(li1, operator.mul)))
print("The sum after each iteration is : ", end="")
print(list(itertools.accumulate(li1)))
print("The product after each iteration is : ", end="")
print(list(itertools.accumulate(li1, operator.mul)))

The sum after each iteration is : [9, 21, 36, 53]
The product after each iteration is : [9, 108, 1620, 27540]
The sum after each iteration is : [9, 21, 36, 53]
The product after each iteration is : [9, 108, 1620, 27540]

In [ ]:
import itertools
li1 = [9, 14, 15, 17]
li2 = [1, 6, 5, 19]
li3 = [18, 10, 5, 4]
print("All values in mentioned chain are : ", end="")
print(list(itertools.chain(li1, li2, li3)))

All values in mentioned chain are : [9, 14, 15, 17, 1, 6, 5, 19, 18, 10, 5, 4]

In [ ]:
import itertools
li1 = [1, 4, 5, 7]
li2 = [1, 6, 5, 9]
li3 = [8, 10, 5, 4]
li4 = [li1, li2, li3]
print ("All values in mentioned chain are : ", end ="")
print (list(itertools.chain.from_iterable(li4)))

All values in mentioned chain are : [1, 4, 5, 7, 1, 6, 5, 9, 8, 10, 5, 4]

In [ ]:
import itertools
print("The compressed values in string are : ", end="")
print(list(itertools.compress('GEEKSFORGEEKS', [
	1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0])))

The compressed values in string are : ['G', 'F', 'G']

In [ ]:
import itertools
li = [21, 41, 15, 37, 18]
print ("The values after condition returns false : ", end ="")
print (list(itertools.dropwhile(lambda x : x % 2 == 0, li)))

The values after condition returns false : [21, 41, 15, 37, 18]

In [ ]:
import itertools
li = [2, 4, 5, 7, 8, 10, 20]
print ("The sliced list values are : ", end ="")
print (list(itertools.islice(li, 1, 6, 2)))

The sliced list values are : [4, 7, 10]

In [ ]:
import itertools
li = [ (1, 10, 5), (8, 4, 1), (5, 4, 9), (11, 10, 1) ]
print ("The values acc. to function are : ", end ="")
print (list(itertools.starmap(min, li)))

The values acc. to function are : [1, 1, 4, 1]

In [ ]:
import itertools
li = [12, 14, 26, 17, 38, 1, 20]
print ("The list values till 1st false value are : ", end ="")
print (list(itertools.takewhile(lambda x : x % 2 == 0, li )))

The list values till 1st false value are : [12, 14, 26]

In [ ]:
import itertools

# initializing list
li = [2, 4, 6, 7, 8, 10, 20]

# storing list in iterator
iti = iter(li)

# using tee() to make a list of iterators
# makes list of 3 iterators having same values.
it = itertools.tee(iti, 3)

# printing the values of iterators
print("The iterators are : ")
for i in range(0, 3):
	print(list(it[i]))

In [ ]:
import itertools
print("The combined values of iterables is : ")
print(*(itertools.zip_longest('Peiec', 'rsdny', fillvalue='_')))

The combined values of iterables is :
('P', 'r') ('e', 's') ('i', 'd') ('e', 'n') ('c', 'y')